<p><%= @game.player(1).name %> vs. <%= @game.player(2).name %></p>
<p><%= @game.player(2).name %>: <%= @game.player(2).hit_points %> HPs</p>
<p><%= @game.turn %></p>
<form action="/attack" method="get">
  <input type="submit" value="Attack">
</form>
